<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header grid" style="grid-template-columns: 75px auto; width:100%;">
      <img class="sbt-profile" style="height: auto;" src="{{img}}" data-edit="img" title="{{name}}" />
      <div>
        <div class="headerinputtext">{{ localize 'Mosh.Name' }}</div>
        <div class="headerinputfield charname">
          <input name="name" class="noborder" type="text" value="{{name}}" placeholder="{{ localize 'Mosh.Name' }}" />
        </div>
      </div>
    </div>
  </header>
  <br />
  <div class="circle-statwrapper-horizontal">
    <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
      <label for="system.quantity" class="resource-label minmaxtext">{{ localize 'Mosh.Quantity' }}</label>
      <div class="valuewrapper" style="width: 120px; background: white;">
        <input class="maxhealth-input darkGreyText" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
      </div>
    </div>
    <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
      <label for="system.cost" class="resource-label minmaxtext">{{ localize 'Mosh.Value' }}</label>
      <div class="valuewrapper" style="width: 120px; background: white;">
        <input class="maxhealth-input darkGreyText" type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
      </div>
    </div>
    <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
      <label class="resource-label minmaxtext">Rating</label>
      <div class="valuewrapper" style="width: 120px; background: white;">
        <input class="maxhealth-input darkGreyText" type="text" name="system.sla.rating" value="{{system.sla.rating}}" data-dtype="Number" />
      </div>
    </div>
    <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
      <label class="resource-label minmaxtext">Duration</label>
      <div class="valuewrapper" style="width: 160px; background: white;">
        <input class="maxhealth-input darkGreyText" type="text" name="system.sla.durationLabel" value="{{system.sla.durationLabel}}" data-dtype="String" />
      </div>
    </div>
  </div>
  {{#if drugDefinition}}
  <br />
  <div class="resource">
    <label class="resource-label">Drug Profile</label>
    <div class="sla-note-pill sla-note-pill-wide">{{drugDefinition.category}} | Rating {{drugDefinition.rating}} | Addiction {{drugDefinition.addiction.threshold}}</div>
    <div class="sla-note-pill sla-note-pill-wide">{{drugDefinition.activeSummary}}</div>
    {{#if drugDefinition.withdrawalSummary}}<div class="sla-note-pill sla-note-pill-wide">{{drugDefinition.withdrawalSummary}}</div>{{/if}}
  </div>
  {{/if}}
  <br />
  <nav class="mosh sheet-tabs tabs" style="height: auto;" data-group="primary">
    <a class="tab-select" data-tab="description">{{ localize 'Mosh.Description' }}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enriched.description target="system.description" button=true owner=owner editable=true}}
    </div>
  </section>
</form>
